.app {
    text-align: center;
    
}
.app-header {
    background-color: #B3C0FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 1vh;
    /* padding-bottom: 25vh; */
    color: black;
    font-family: serif;
}
h1 {
    line-height: 2em;
    font-size: 230%;
}