.bad {
    background-image: url(https://t3.ftcdn.net/jpg/02/69/46/42/360_F_269464287_Q2DoeIRT847orJlYDSX59T8pjlF9nO94.jpg);
    /* height: 100%;
    width: 100%; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 140%;
    text-align: left;
    padding: 0.25rem 0;
    color: white;
}

.AddingPassword input {
    margin: 1rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}



.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   }

   .AddingPassword {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       /* background-color: lightblue; */
       width: 50%;
       height: 300px;
       border-radius: 20px;
       margin-top: 50px;
   }
   
   .AddingPassword button, input{
       width: 300px;
       height: 40px;
       border: none;
       border-radius: 7px;
       margin: 10px;
       padding-left: 15px;
       font-size: 17px;
   }
   
   button {
       cursor: pointer;
   }
   
   .Passwords {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
  }
  
  .password {
      width: 400px;
      height: 70px;
      background-color: black;
      border-radius: 7px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
  }
  