
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    box-shadow: 5px 10px #888888;
   }


#navbar {
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size:  1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #6D55E5;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #6D55E5;
    position: absolute;
    bottom: -4px;
    left: 20px;
} 
.lo {
    background-color: #6D55E5;
    border-radius: 40%;
}
/* 
li{ 
    padding: 3vh 2vw 3vh 2vw;
    font-size: 1vw;
    list-style: none;
    color: white;
   } */
/* .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } */
   
   /* .AddingPassword {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: lightblue;
       width: 50%;
       height: 300px;
       border-radius: 20px;
       margin-top: 20px;
   }
   
   .AddingPassword button, input{
       width: 300px;
       height: 40px;
       border: none;
       border-radius: 7px;
       margin: 10px;
       padding-left: 15px;
       font-size: 17px;
   }
   
   button {
       cursor: pointer;
   }
   
   .Passwords {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
  }
  
  .password {
      width: 400px;
      height: 70px;
      background-color: black;
      border-radius: 7px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
  }
   */