.update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12vh;
    padding: 0.5vh 0vw 2vh 0vw;
   }
   
   .upd {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: lightblue;
       width: 50%;
       height: 400px;
       border-radius: 20px;
       margin-top: 20px;
   }
   
   .upd button, input{
       width: 300px;
       height: 40px;
       border: none;
       border-radius: 7px;
       margin: 10px;
       padding-left: 15px;
       font-size: 17px;
   }
   
   button {
       cursor: pointer;
   }